<!-- 

    <footer class="footer">
        <div class="container">
        <div class="content has-text-centered">
            <div class="row">
                <div class="col-8">
                    <p class="p">More infos ? Visit our website : 
                        <a href="https://www.growacademysenegal.com/"> 
                        www.growacademysenegal.com </a>
                    </p>
                </div>
                <div class="col-4">
                    <p class="end">
                        <span>Designed by <strong>grow Tech et Didital</strong></span>
                    </p>
                </div>
            </div>
        </div>
        </div>
        </footer> -->
        <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>grow &copy; 2017-2020</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>Design by <a href="https://bootstrapious.com/p/bootstrap-4-dashboard" class="external">Team Tech& DIgital</a></p>
                  <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
                </div>
              </div>
            </div>
          </footer>