.an{
    border: 1px solid  #F3F3F3;
    box-shadow: 1px 1px 12px rgb(243, 243, 243);
   
    border: 1px solid  #F3F3F3;
    box-shadow: 1px 1px 12px rgb(243, 243, 243);
    height: 300px;
    margin-top: 100px;
    margin-left: 150px;
    width: 100%;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}
/* .num{
    background-image: url("image/sdsd.png");
    height: 180px;
    background-repeat: no-repeat;
} */

.h{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-right: 70px;
}

.titre1{
    font-size: 50px;
    margin: auto;
}
.t{
    margin-top: 70px;
    text-align: center;

}
.a1{
    
    background-color: brown;
}
.img{
    /* margin-left: 10px;
    margin-top: 10px; */
    max-width: 100%;
    background-color: crimson;
}

.rep{
    font-size: 30px;
    margin-left: 120px;
    margin-top: 50px;

}
.rep1{
    font-size: 30px;
    margin-left: 80px;
    margin-top: 50px;


}
.card{
    border: white;
}

.rep2{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 50px;


}
.j{
    width: 100%;
    margin-left: 5px;
}
.block0{
    /* height: 250px; */
    /* border: 2px solid black; */
    border-radius: 15px;
    border: 1px solid  #F3F3F3;
    box-shadow: 1px 1px 12px white;
    height: 300px;
    margin-top: 50px;
    margin-left: 70px;
    width: 100%;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.block1{
    /* border: 2px solid yellow; */
    height: 245px;
    width: 100%;
    margin: 0;
    padding: 0;

}
.blockimage{
    /* border: 2px solid green; */
    height: 180px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.blocktexte{
    /* border: 2px solid firebrick; */
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;

}
.blockimage2{
    /* border: 2px solid green; */
    height: 300px;
    width: 250px !important;
    margin: 0;
    padding: 0;
    margin-top: -5px;
    margin-left: 0px;
    margin-right: 10px;
    max-width: 100%;
    max-height: 100%;
}
.blockimage1{
    /* border: 2px solid green; */
    height: 100% !important;
    width: 60%;
    margin: 0;
    padding: 0;
    /* margin-top: 5px; */
    margin-left: 40px;
}
.image1{
    height: 175px;
    width: 100%;
    /* border: 2px solid white; */
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
 .block0 {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            margin-bottom: 10%;
          }
          a{
              text-decoration: none;
              color: black;
          }


.jumbotron{
    background-color: rgb(126, 126, 126);
}

.th{
    background-color: #FF4080;
}

.termine{
    background-color: #FF4080;
    color: white;
    padding:10px;
    
}

.blockmobile{
    display: none;
}

.titre11{
    display: none;
}

@media(max-width:768px){

.block0{
    display: none;
}


.blockmobile{
    display: block;
}

.blocmbacke{
    height: 200px;
 margin-top: -80px;
 border-radius: 15px;
 border: 1px solid  #F3F3F3;
 box-shadow: 1px 1px 12px white;

 width: 100%;
 border-radius: 10px;
    
}
.titre{
    padding-top: 50px;
}
.titre1{
    display: none;
}
.titre11{
    display: block;
    margin-top: -50px;
    font-size: 24px;
    font-weight: 500;

}
.one{
    margin-top: -90px;
}
}
     