<style>

.num{
    background-image: url('assets/rt.jpg');
    height: 180px;
    background-repeat: no-repeat;
}

@media(max-width:768px){
.titre1{
    font-size: 25px;
    margin: auto;
}
.num{
  font-size: 100px;  
  background-image: url('assets/rt.jpg');
  height: 160px;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.h{
    font-size: 45px;
    margin: auto;
    margin-top: 40px;
    margin-right: 20px;
}


}
    
</style>

<div class="container" id="titrepage" *ngIf="isgame">
    <div class="card col-xs-6 col-sm-12 col-md-12">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="num col-md-4"
                >
                <h1 class="h">{{question.id}}/10</h1>
            </div>
            <div class="col-md-5"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="t col-md-8">
                <span class="titre1">{{question.titre}}</span>
                <p class="titre11">{{question.titre}}</p>


            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-lg-12 block0 ">

                <div class="card carte">
                    <a href="javascript:void(0)" (click)="rep(question.titre1)">
                    <div class="blockimage">
                        <img src="{{question.image1}}" alt="" class="image1">
                    </div>
                    <div class="card-body col-md-8  blocktexte">
                        <h6>{{question.titre1}}</h6>
                    </div>
                    </a>
                </div>
            </div>


            <div class="col-md-3 col-lg-12 block0 ">
                <div class="card carte ">
                    <a href="javascript:void(0)" (click)="rep(question.titre2)">
                    <div class="blockimage">

                        <img src="{{question.image2}}" alt="" class="image1">
                    </div>
                    <div class="card-body col-md-8 blocktexte">
                        <h6>{{question.titre2}}</h6>
                    </div>
                </a>
                </div>
            </div>
            <br><br>
            <div class="col-md-3 col-lg-12 block0 ">
                <div class="card carte">
                    <a href="javascript:void(0)" (click)="rep(question.titre3)">
                    <div class="blockimage1">
                        <img src="{{question.image3}}" alt="" class="image1">
                    </div>
                    <div class="card-body col-md-8 blocktexte">
                        <h6>{{question.titre3}}</h6>
                    </div>
                </a>
                </div>
            </div>
        </div>

        <!-- Version mobile -->
        <div class="container-fluid blockmobile">

             <div class="one">

                <div class="row card blocmbacke  mt-3">
                    <div class="col-7 col-sm-7" (click)="rep(question.titre1)">
                        <img src="{{question.image1}}" alt="" class="image1">

                    </div>
                    <div class="  col-5 col-sm-5" (click)="rep(question.titre1)">
                        <h6 class="titre">{{question.titre1}}</h6>

                    </div>
                </div>
                <div class="row card blocmbacke mt-3">
                    <div class="col-7 col-sm-7" (click)="rep(question.titre2)">
                        <img src="{{question.image2}}" alt="" class="image1">

                    </div>
                    <div class="  col-5 col-sm-5" (click)="rep(question.titre1)">
                        <h6 class="titre">{{question.titre2}}</h6>

                    </div>
                </div>
                <div class="row card blocmbacke mt-3 ">
                    <div class="col-7 col-sm-7" (click)="rep(question.titre3)">
                        <img src="{{question.image3}}" alt="" class="image1">

                    </div>
                    <div class="  col-5 col-sm-5" (click)="rep(question.titre3)">
                        <h6 class="titre">{{question.titre3}}</h6>

                    </div>
                </div>

             </div>







        </div>

        <!-- fin Version mobile -->

    </div>
</div>
<div class="container-fluid" *ngIf="!isgame">
    <div class="jumbotron">
        <h1 class="jumbotron-heading text-white">Quiz Module:1</h1>
        <p class="lead text-white">
          Testez vos connaissances avant de passer au module suivant
        </p>
      </div>
     <div class="container">
<div class="container quiz">

    <div class="row mt-5">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="result-of-question" class="pulse animated">
                <span id="totalCorrect" class="pull-right"></span>
                <span id="percentage" class="pull-right"></span>
                <table class="table table-hover table-responsive" >
                    <thead>
                        <tr>
                            <th class="th">Question No.</th>
                            <th class="th">Bonne reponse</th>
                            <th class="th">Votre reponse</th>
                            <th class="th">Resultat</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let item of data">
                            <th>{{item.titre}}</th>
                            <th>{{item.good}}</th>
                            <th>{{item.youresponse}}</th>
                            <th>{{item.etat}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row"> <a routerLink="/lesson" class="termine module-info__link">
        Terminé
       </a></div>
</div>
</div>
</div>