
<div class="container" id="titrepage">
    <div class="card col-xs-6 col-sm-12 col-md-12 ">
            
            <div class="row">
                <a class="nav-link" href="index.html"><img src="images/growacademy (1).png" alt="" height="100px"></a>

                <div class="col-md-4"></div>
                <div class="num col-md-4">
                    <h1 class="h">1/10</h1>
                </div>
                <div class="col-md-5"></div>
          
          
            </div>
        
            <div class="row">
                <div class="col-md-2"></div>
                <div class="t col-md-8">
                    <span class="titre1">C'est quoi Internet ?</span>
                </div>
                <div class="col-md-2"></div>
            
            
            </div>
            <br>
    <div class="row">
        <div class="col-md-3 col-lg-12 block0 ">

            <div class="card ">
                <div class="blockimage">

                    <img src="image/q1c.png" alt="" class="image1">
                </div>
                <div class="card-body col-md-8  blocktexte">
                    <h6>Un réseau téléphonique permettant de relier les personnes</h6>
                </div>
            </div>
        </div>

        
        <div class="col-md-3 col-lg-12 block0 ">
            <div class="card ">
                <div class="blockimage">

                    <img src="image/q1b.png" alt="" class="image1">
                </div>
                <div class="card-body col-md-8 blocktexte">
                    <h6>Un réseau mondial permettant de connecter tous les ordinateurs entre</h6>
                    </div>
            </div>
        </div>
        <br><br>
        <div class="col-md-3 col-lg-12 block0 ">
            <div class="card ">
                <div class="blockimage1">
                    <img src="image/q1a.png" alt="" class="image1">
                </div>
                <div class="card-body col-md-8 blocktexte">
                    <h6>un réseau mobile</h6>
                </div>
            </div>
        </div>
    </div>

</div>
</div>