<div class="row">
    <div class="col-md-6">
        <h4>Titre1</h4>
        <section>
            <mat-checkbox>
                <span class="titre-section">HTML&CSS</span>
            </mat-checkbox>
        </section>
        <section>
            <mat-checkbox>
                <span class="titre-section">PHP</span>
            </mat-checkbox>
        </section>
    </div>
    <div class="col-md-6">
        <h4>Titre2</h4>
        <section>
            <mat-checkbox>
                <span class="titre-section">Débutant</span>
            </mat-checkbox>
        </section>
        <section>
            <mat-checkbox>
                <span class="titre-section">Intermédiaire</span>
            </mat-checkbox>
        </section>
        <section>
            <mat-checkbox>
                <span class="titre-section">Difficile</span>
            </mat-checkbox>
        </section>
    </div>
</div>
<div class="row">
    <div class="resultatstyle">
        Résultats&nbsp;: 25&nbsp;formation(s)
    </div>
</div>
<div class="row">
    <button class="btn btn-primary" (click)="soumettre()">Soumettre</button>
</div>