<div class="container">
  <div class="row" style="margin-right:0px;">
    <div class="col-lg-12">
      <a href="#" class="btn addplan my-3"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter a mon plan de formation</a>
    </div>
  </div>
  <section class="jumbotron text-center">
  <div class="row">
            <div class="col-md-8 coursinscrit">
              <h1 class="jumbotron-heading">Création de site vitrine simple avec HTML et CSS</h1>
              <p class="lead">
                Alors comment réussir sa formation en développement web ?
                Déjà j'aimerais vous dire que se former en ligne au développement Web c'est possible.
                Il suffit de vous fixer impérativement des objectifs.
                Le but premier de cette section est de vous apprendre progressivement à coder en HTML5 et en CSS3 mais principalement pour ce chapitre, je vais également m’appliquer à vous montrer la logique et les mécanismes derrière ces deux langages afin que vous compreniez ce que vous faîtes et que vous deveniez vite autonomes.
                
                              </p>
                  <a routerLink="/lesson" class=" btn-sba">Commencer le cours</a>  
            </div>
            <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-7">
                        <p class="detail_cours_titre">Progression dans le cours</p>
                            <div class="progress-circle" data-progress="0"></div>
                    </div>
                    <div class="col-md-5">
                    <p class="detail_cours_titre"> Details du cours</p>
                      <div class="aproposcours">
                    <span class="detail_cours_contenu"> <i class="fa fa-bars details" aria-hidden="true"></i>6 modules</span>
                    <span class="detail_cours_contenu"><i class="fa fa-clock-o details" aria-hidden="true"></i> 3h</span>
                    <span class="detail_cours_contenu"><i class="fa fa-home details" aria-hidden="true"></i> Bourse</span>
                  </div>
                  </div>
                  </div>
              </div>
            </div>
        <!-- </div> -->
      </section>
</div>
<div class="container">
    <h1> Modules (6)</h1> 
  .  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left bouton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Introduction au developpement web et mise en place de l'environnement de travail (8)
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <a class="rowdetail" routerLink="/lesson">
            <div class="row detail">
              <div class="col-md-7">       <img src="assets/intro.png" class="mod" width="40" height="52" alt=""> <span style="font-size: 18px; margin-left: 15px; font-weight: 500;">Introduction</span> </div>
              <div class=" ic col-md-4">   <img src="assets/icon/wall-clock.png"   class="icone" alt=""> <span style="font: 15px; margin-left: 5px; color: rgb(95, 95, 95);">1min</span> </div>
              <div class=" ic col-md-1">   <img src="assets/icon/droite.png" class="fleche" width="25" height="25" alt=""></div>
            </div>
          
          </a>
          <div class="row detail">
            <div class="col-md-7">       <img src="assets/internet.png" class="mod" width="40" height="52" alt=""> <span style="font-size: 18px; margin-left: 15px; font-weight: 500;">Internet/Web</span> </div>
            <div class=" ic col-md-4">   <img src="assets/icon/wall-clock.png"   class="icone" alt=""> <span style="font: 15px; margin-left: 5px; color: rgb(95, 95, 95);">1min</span> </div>
            <div class=" ic col-md-1">   <img src="assets/icon/droite.png"  class="fleche" width="25" height="25" alt=""></div>
          </div>
          <div class="row detail">
            <div class="col-md-7">       <img src="assets/navigateur.png" class="mod" width="40" height="52" alt=""> <span style="font-size: 18px; margin-left: 15px; font-weight: 500;">Navigateur Web</span> </div>
            <div class=" ic col-md-4">   <img src="assets/icon/wall-clock.png"   class="icone" alt=""> <span style="font: 15px; margin-left: 5px; color: rgb(95, 95, 95);">1min</span> </div>
            <div class=" ic col-md-1">   <img src="assets/icon/droite.png"  class="fleche" width="25" height="25" alt=""></div>
          </div>
          <div class="row detail">
            <div class="col-md-7">       <img src="assets/editeur.png" class="mod" width="40" height="52" alt=""> <span style="font-size: 18px; margin-left: 15px; font-weight: 500;">Editeur de texte</span> </div>
            <div class=" ic col-md-4">   <img src="assets/icon/wall-clock.png"   class="icone" alt=""> <span style="font: 15px; margin-left: 5px; color: rgb(95, 95, 95);">1min</span> </div>
            <div class=" ic col-md-1">   <img src="assets/icon/droite.png" class="fleche"  width="25" height="25" alt=""></div>
          </div>
          <div class="row detail">
            <div class="col-md-7">       <img src="assets/extension.png" class="mod" width="40" height="52" alt=""> <span style="font-size: 18px; margin-left: 15px; font-weight: 500;">Extensions de fichier</span> </div>
            <div class=" ic col-md-4">   <img src="assets/icon/wall-clock.png"   class="icone" alt=""> <span style="font: 15px; margin-left: 5px; color: rgb(95, 95, 95);">1min</span> </div>
            <div class=" ic col-md-1">   <img src="assets/icon/droite.png" class="fleche"  width="25" height="25" alt=""></div>
          </div>
          <div class="row detail">
            <div class="col-md-7">       <img src="assets/conclusion.png" class="mod" width="40" height="52" alt=""> <span style="font-size: 18px; margin-left: 15px; font-weight: 500;">Conclusion</span> </div>
            <div class=" ic col-md-4">   <img src="assets/icon/wall-clock.png"   class="icone" alt=""> <span style="font: 15px; margin-left: 5px; color: rgb(95, 95, 95);">1min</span> </div>
            <div class=" ic col-md-1">   <img src="assets/icon/droite.png" class="fleche"  width="25" height="25" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div> -->
  </div>
</div>
  
    <!-- <section class="modules">
      <div class="container">
            <h2 class="modulecount">Modules (1)</h2>
     
    </div>
    
    <div class="row">                  
      <div class="col-md-4">
        <div class="card card__one">
            <div class="moduleitems-icon">
                <img src="assets/images/dev.png" style="width: 100%;height: 100%;">
                 </div>
                 <a class="module-items-title mt-3" href="#">
                    <h4>Introduction au développement web </h4>
                 </a>
          <span class="lessoncount">2 leçon(s)</span>
          <hr/>
          <div class="module-info__links-list">
            <a routerLink="/lesson" class="module-info__link">
             Introduction
            </a>
         

              
          </div>
         
        </div>
    </div>  
    </div>
  </section> -->