.col-md-8.coursinscrit {
    border-right: 1px solid #e8eaed;
    border-left: 0;
    padding-bottom: 40px;
    padding-right: 40px;
    text-align: left;
}

.lead{
  margin-bottom: 30px;
  text-align: justify;
}
.bouton{
  text-decoration: none;
  color: black;
}
.icone{
  width: 15px;
  height: 15px;

}
.ic{
  margin-top: 10px;
}



.detail{
  border: 1px solid rgb(219, 219, 219);
  padding: 10px;
  transition: all 0.5s ;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.detail:hover{
  transform: scale(1.1); 
}
.jumbotron-heading{
  font-size: 30px;
}
.fa.details{
  color: #FA4640;
  font-size:20px !important;
  padding: 0 7px;

}
.far.details{
  color: #FA4640;
  font-size:20px !important;
  padding: 0 7px;

}
span.detail_cours_contenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 30px;
  opacity: .9;
  font-family: Google Sans,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
}
.detail_cours_titre {
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Google Sans,Arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-weight: 500;
    letter-spacing: 1.3px;
    /* color: #80868b; */
    padding-bottom: 16px;
    text-transform: uppercase;
    margin: 0;
}
section.modules {
    padding: 40px;
    background: #f8f9fa!important;
}

a.module-items{
  transition: transform .25s ease,box-shadow .25s ease;
    display: block;
    border-radius: 6px;
    box-shadow: 0 0 12px 0 #f1f3f4;
    background: #fff;
    border: 1px solid #e8eaed;
    padding: 20px 24px;
    margin: 0 0 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding:20px;
}
@media (min-width: 600px){
  a.module-items:hover {
    transform: scale(1.03);
    box-shadow: 0 1px 25px 0 rgba(0,0,0,.05);
    z-index: 2;
}
.moduleitems-icon{
margin-left: 0;
    margin-right: 12px;
}

div.module-items-duree{
 margin: 0 12px;
}
}
.moduleitems-icon{
  width: 60px;
    height: 60px;
    background: #f1f3f4;
    padding: 5px;
    border-radius: 50%;
    float:left;
    flex: 0 0 60px;
}
h4.module-items-title {
    margin: 0;
    color: #3c4043;
    font-weight: 500;
    flex: 1 1 50%;
    font-size: 1.2rem;
}

p.module-items-duree{
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Google Sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    opacity: .9;
    letter-spacing: normal;
    color: #80868b;
    display: flex;
    float: right;
    flex: 0 1 13%;
    min-width: 80px;
}

div.module-items-duree{
  display: flex;
    align-items: center;
    flex: 0 0 133px;
}
.module-items-progress-bar{
    width: 50%;
    border-radius: 4.5px;
    background: #e8eaed;
    height: 8px;
    position: relative;
    overflow: hidden;
    margin-right: 6px;
    margin-left: 0;
}
.module-items-progress {
    display: flex;
    align-items: center;
    flex: 0 0 133px;
}
.module-items-progress-bar span{
animation-name: expand-horizontal;
    animation-duration: .25s;
    animation-delay: .5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    will-change: width;
    left: 0;
    right: auto;
    position: absolute;
    border-radius: 4.5px;
    height: 100%;
    background: #34a853;
    top: 0;
}
.module-items-forward {
    flex: 1 0 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
a:hover{
  text-decoration: none;
}
h2.modulecount {
     text-align: left; 
     color: #3c4043; 
    margin: 17px 0 48px!important;
}


  @media (min-width: 320px) and (max-width: 480px) {
    a.module-items {
    padding: 2px;
}
p.module-items-duree {
    margin-top: -4em;
    float: right;
    margin-right: -28px;
}

  }

  a.btn.addplan {
    float: right;
    font-size: 20px;
    /* border: 1px solid #EE6FD2; */
    color: #EE6FD2;
}
/* cards module */

 /* .grid {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 max-width: 340px;
	 margin: 0 auto;
}
 @media screen and (min-width: 768px) {
	 .grid {
		 max-width: 1200px;
	}
} */
 .card {
	 position: relative;
	 flex: 1 1 100%;
	 margin: 31px 0;
	 padding: 20px;
	 background: #fff;
}
 @media screen and (min-width: 768px) {
	 .card {
		 flex-basis: calc(33.33% - (62px + 40px));
		 margin: 0 31px;
	}
}
 .card__thumb {
	 overflow: hidden;
}
 .card__img {
	 margin: -20px -20px 0;
}
 .card__img img {
	 max-width: 100%;
	 height: auto;
	 border: 0;
	 vertical-align: middle;
	 box-sizing: border-box;
}
 .card__desc {
	 margin-top: 20px;
}
 
 .card__one {
	 transition: transform 0.5s;
   padding: 24px;
    background-color: #fff;
    border-radius: 6px;
    height: 60vh;
    box-shadow: 0 0 8px 0 rgba(241,243,244,.5);
    border: 1px solid #e8eaed;
}
 .card__one::after {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
	 box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
	 content: '';
	 opacity: 0;
	 z-index: -1;
}
 .card__one:hover, .card__one:focus {
	 transform: scale3d(1.006, 1.006, 1);
}
 .card__one:hover::after, .card__one:focus::after {
	 opacity: 1;
}
 
span.lessoncount {
    color: #8d9092;
    margin-bottom: 20px;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a.module-items-title.mt-3 {
    color: #3c4043;
    margin-bottom: 6px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0;
    font-weight: 500;
}
.module-info__links-list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

a.module-info__link {
    transition: color .25s ease;
    font-size: 1rem;
    font-family: Google Sans,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.57;
    color: #1a73e8 !important;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.module-info__link:hover {
    color: #0c3a77 !important;
}
.rowdetail{
  text-decoration: none;
  color: black;
}
.progress-circle {
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  height: 8rem;
  margin: 4rem 2rem 0;
  position: relative;
  width: 8rem;
  margin-top: 5px;
}
.progress-circle[data-progress="0"]:after {
  background-image: linear-gradient( 90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(90deg, #0083ff 50%, #ddd 50%, #ddd);
}
.progress-circle:after {
  background-color: #0083ff;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
}
.progress-circle:before {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  content: attr(data-progress) "%";
  display: flex;
  font-size: 1rem;
  justify-content: center;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  transition: transform 0.2s ease;
}
.jumbotron {
  background-color: white !important;
}

.btn-sba{
  background-color: #FF4080;
  font-size: 18px;
  color: white;
  border: 1px solid #FF4080;
  padding: 10px;
  margin-top: 30px;
}