<!-- <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 col-sm-12 col-12">
        <div class="blockformulaire">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <img src="assets/logogrow.png" width="150" height="120" alt="">
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <img src="assets/SA.png" width="150" height="120" alt="">
            </div>
          </div>
          <form [formGroup]="utilisateur" class="formulaire">
            <input type="text" class="form-control" placeholder="téléphone" formControlName="username">
            <br>
            <input type="text" class="form-control" placeholder="mot de passe" formControlName="password">
            <br><br>
            <input value="Connexion" type="submit" class="submit" (click)="addsys(utilisateur.value)">
          </form>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
   -->