.sba_text_content{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Google Sans,Arial,sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 2rem;
    letter-spacing: normal;
    color: #9aa0a6;
    font-weight: 400;
}
h2.etapes-titre {
    text-align: center;
    color: #4d5055;
    font-family: Google Sans,Arial,sans-serif;
    margin: 4.5rem 0 3.5rem;
    font-size: 3.2rem;
}
.card-title-course{
    height: 4rem;
}
.t{
    padding-top: 40px;
}
.p{
    text-align: justify;
}
.h1{
    font-size: 25px;
}
.card{
    height: 30rem;
}
.col-md-4.etapes-contenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img.etapes-img1 {
    /* width: 550px;
    height: 250px;
    display: block;
    margin-right: 10px;
    margin-top: -65px; */
    padding-top: 0;
}

.block1{
    display: none;
}
img.etapes-img2 {
    /* width: 500px;
    height: 100px;
    display: block;
    margin-right: 10px;
    margin-top: -15px; */
    padding-top: 0;
}
img.etapes-img3 {
    /* width: 400px;
    height: 150px;
    display: block;
    margin-right: 10px;
    margin-top: -35px; */
    padding-top: 0;
}
h3.etapes-contenu-titre {
    margin: 0 0 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #414141;
}
h2.text-center {
    margin: 4rem 0 3rem;
    font-size: 2rem;
}
.etapes{
    margin-bottom: 50px;
    margin-top: -100px;
}
    .boutton{
        background-color: #FF4080;
        color: white;
    }
    a{
        color: black;
    }


    .etapes-desc{
        text-align: justify;
    }


    .etapes-content{
        margin-top: 100px;
    }



  @media(max-width:768px){
   .iframe{
       width: 340px;
       height: 380px;
       margin-top: -50px;
   }

   h2.text-center {
 margin-top: -50px;
    font-size: 2rem;
}
.col-md-4.etapes-contenu {
    margin-bottom: -50px;
}

img.img1 {
    width: 100px;
    height: 250px;
 margin: auto;
 margin-top: 20px;
    padding-top: 0;
}
.img{
    margin-bottom: 20px;
    margin-top: -60px;
}
.etapes-desc{
    text-align: justify;
    margin-top: -50px;
}
h3.etapes-contenu-titre {
    margin:auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #414141;
    margin-top: -90px;
}


.block0{
    display: none;
}
.block1{
    display: block;
}
    }
     