<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-5 t">
            <h1 class="h1">Formez vous aux nouvelles technologies!</h1>
            <div class="sba_text_content">
                <p class="p">
                    Grâce à la micro tech, chaque fille peut bénéficier d'une formation quelque soit son niveau d'éducation.
                    De l'initiation au développement web à la réalisation de votre micro application, grow academy vous offre une formation adaptée et flexible.
                </p>
             
            </div>
            <a routerLink="/cours"  class=" boutton btn  my-2 btn-sba">Demarrez</a>  
      
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-5 vidhome">
            <!-- <iframe width="100%" height="100%" class="resp-iframe" src="https://www.youtube.com/embed/2UlpVWI0uFY" gesture="media" allow="encrypted-media" allowfullscreen="allowfullscreen"></iframe> -->
            <iframe src="https://player.vimeo.com/video/421307145" class="iframe" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>    </div>
</div>
<div class="container">
<h2 class=" text-center">Trois étapes simples pour développer vos compétences</h2>
<div class="etapes block0 row">
    
    <div class="col-md-4 etapes-contenu">
        <img class="etapes-img1" src="assets/1.svg" alt="">
       <div class="etapes-content">
        <h3 class="etapes-contenu-titre">Choisissez votre formation</h3>
       <p class="etapes-desc">
           Vous voulez vous exercer sur les metiers du numérrique? ALors choisissez maintenant la formation adaptés à vos besoins.</p>
       </div>
    </div>
    <div class=" col-md-4 etapes-contenu">
            <img class="etapes-img2" src="assets/3.svg" alt="">
           <div class="etapes-content">
            <h3 class="etapes-contenu-titre">Créez votre programme</h3>
           <p class="etapes-desc">
               Créez votre programme de formation selon votre rythme sur votre ordinateur, smatphone ou tablette. </p>
           </div>
    </div>
        <div class=" col-md-4 etapes-contenu">
                <img class="etapes-img3" src="assets/11.svg" alt="">
               <div class="etapes-content">
                <h3 class="etapes-contenu-titre">Décrochez votre cértification</h3>
               <p class="etapes-desc">
                   Suivez votre prgression, et décrochez votre certificat officiel qui vous permettra de booster votre CV  </p>
               </div>
        </div>
   
</div>
<div class="etapes block1 row">
    
    <div class="col-md-4 ">
        <div class="row img">        <img class="img1" src="assets/1.svg" alt="">        </div>
           <div class="row">
            <h3 class="etapes-contenu-titre">Choisissez votre formation</h3>  </div>
           <div class="row"> <p class="etapes-desc">
                Vous voulez vous exercer sur les metiers du numérrique? ALors choisissez maintenant la formation adaptés à vos besoins.</p>
            
           </div>
       </div>
       <div class="col-md-4 ">
        <div class="row img">        <img class="img1" src="assets/3.svg" alt="">        </div>
           <div class="row">
            <h3 class="etapes-contenu-titre">Créez votre programme</h3>  </div>
           <div class="row"> <p class="etapes-desc">
            Créez votre programme de formation selon votre rythme sur votre ordinateur, smatphone ou tablette. </p>
            
           </div>
       </div>
       <div class="col-md-4 ">
        <div class="row img">        <img class="img1" src="assets/2.svg" alt="">        </div>
           <div class="row">
            <h3 class="etapes-contenu-titre">Décrochez votre cértification</h3>  </div>
           <div class="row"> <p class="etapes-desc">
            Suivez votre prgression, et décrochez votre certificat officiel qui vous permettra de booster votre CV  </p>
            
           </div>
       </div>
    </div>

   
</div>


</div>