<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-5">
            <h1>Démarquez-vous grâce au digital</h1>
            <div class="sba_text_content">
                <p>
                        Faites évoluer votre carrière ou votre activité à votre rythme 
                        grâce à des formations flexibles et personnalisées, 
                        conçues pour renforcer votre confiance et vous aider à réussir.
                </p>
                <ul>
                    <li>Construisez votre projet digital</li>
                          <li>  Misez sur votre futur métier</li>
                            <li>Développez votre visibilité en ligne</li>
                </ul>
            </div>
            <a [routerLink]="['/cours']"  class=" boutton btn  my-2 btn-sba">Demarrez</a>  
      
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-5 vidhome">
            <!-- <iframe width="100%" height="100%" class="resp-iframe" src="https://www.youtube.com/embed/2UlpVWI0uFY" gesture="media" allow="encrypted-media" allowfullscreen="allowfullscreen"></iframe> -->
            <iframe src="https://player.vimeo.com/video/421307145" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>    </div>
</div>
<div class="container">
<h2 class=" text-center">Trois étapes simples pour développer vos compétences</h2>
<div class="etapes row">
    
    <div class="col-md-4 etapes-contenu">
        <img class="etapes-img" src="https://lh3.googleusercontent.com/vzRY-305WFK3Kno669Op3-llkNSOWtNGvy_HwFCShNS2FWn7S7VACKKVC80hZxE4CL6LGpaVteIstk9QEUaW71s=s0" alt="">
       <div class="etapes-content">
        <h3 class="etapes-contenu-titre">Choisissez votre formation</h3>
       <p class="etapes-desc">
           Il est indispensable d’être avec son temps. Qui voudrait être laissé pour compte 
           parce qu’il n’y connait rien dans les nouveautés ? </p>
       </div>
    </div>
    <div class=" col-md-4 etapes-contenu">
            <img class="etapes-img" src="https://lh3.googleusercontent.com/b5i2OUSXiAqWp7P_JL7INnHO6xlGfNxPKMa_5w2PL8E53v3vq-F92oJhX2ko8qqfIvkplTUuYYLj5EGkQUCGRk8=s0" alt="">
           <div class="etapes-content">
            <h3 class="etapes-contenu-titre">Créez votre programme</h3>
           <p class="etapes-desc">
               Il est indispensable d’être avec son temps. Qui voudrait être laissé pour compte 
               parce qu’il n’y connait rien dans les nouveautés ? </p>
           </div>
    </div>
        <div class=" col-md-4 etapes-contenu">
                <img class="etapes-img" src="https://lh3.googleusercontent.com/Y39AVHFV-GRALjPVlskg6mxO4QL02bxeLu6ekeFCTKmXV-RYUwoWXPqwDInyCjYqAaH_o6EO7h_6thoc6B9hB74=s0" alt="">
               <div class="etapes-content">
                <h3 class="etapes-contenu-titre">Décrochez votre cértification</h3>
               <p class="etapes-desc">
                   Il est indispensable d’être avec son temps. Qui voudrait être laissé pour compte 
                   parce qu’il n’y connait rien dans les nouveautés ? </p>
               </div>
        </div>
   
</div>
</div>