.jumbotron {
    background-color: white;
    border-radius: 0rem;
    color: black;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}
.jumbotron-heading{
    font-size: 40px;
}
.containers{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.lead{
    text-align: justify;
}
.card-title{
font-weight: 500;

}
.fleche{
    margin-left: auto;
    margin-right: 0;
    align-self: flex-end;
    font-size: 30px;
}
.titre-section{
    margin-left: 20px;
}
.module{
margin-right: 10px;
font-size: 13px;
color: #5F6368;
}

.heure{
    font-size: 13px;
    color: #5F6368;
    }
    .modules{
        margin-right: 10px;
        font-size: 13px;
        color: #5F6368;
        }
        
        .heures{
            font-size: 13px;
            color: #5F6368;
            }
.section1{
    margin-bottom: 50px;
}
a{
    color: black;
    text-decoration: none;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 12px 0 rgba(0,0,0,.05);
    z-index: 2;
}
.icone{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-top: -7px;
}
.niveauxtitre{
    font-size: 5px;
}
.niveaux{
    text-align: center;
    font-size: 18px;
    color: #5F6368;
}
.rien{
    margin-left: auto;
    margin-right: 0;
    align-self: flex-end;
    font-size: 30px;
}
img{
    max-width: 100%;
    height: 150px;
}
.mobilefiltre{
    display: none;
}
h4{
    color: #FF4080;
    font-weight: bold;
}
.img{
    margin-left: -10px;
}
@media(max-width:768px){
    .filtre{
        display: none;
    }
    .mobilefiltre{
        display: block;
    }
    .block{
        margin-right: 15px;
        margin-left: 15px;
    }
    .jumbotron-heading{
        font-size: 30px;
    }
    .resultatstyle{
        margin-left: 35px;
    }
}
/* @media (min-width: 1024px){
.resultatstyle {
    display: block;
    flex-basis: 100%;
    font-size: 18px;
    line-height: 26px;
    margin-left: 14px;
}
} */