<header>
    <div class="logo">
        <a [routerLink]="['/']">
        <img src="assets/images/logogrow.png"  alt="">
    </a>
    </div>
    <nav>
      <ul>
        <li class="nav-item">
            <a href="#" class="nav-link">
                Cours en ligne
            </a>
        </li>
        <!-- <li class="nav-item">
            <a href="#" class="nav-link">
                Evénements
            </a>
        </li> -->
        <li class="nav-item">
            <a href="#" class="nav-link">
                En savoir plus
            </a>
        </li>
        <!-- <li class="nav-item">
            <a href="#" class="nav-link">
                Plan de formation
            </a>
        </li> -->
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                El Hadji Yaya LY
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-user"></i> Profile
                </a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">
                    <i class="fa fa-lock"></i> Logout
                </a>
            </div>
        </li> -->
        <li class="nav-item ">
            <a routerLink="login" class="nav-link nav-li-btn">
                <span class="connect">Se connecter</span>
            </a>
        </li>
      </ul>
    </nav>
    <div class="menu-toggle">
      <i class="fa fa-bars icone" aria-hidden="true"></i>
    </div>
  </header>