<div class="container-fluid lesson-top">

  <!-- <div class="row" style="border: 2px solid black;"> -->
    <!-- <div class="col-lg-12"> -->
      <h1 class="lesson-module-title">INTRODUCTION AU DEVELOPPEMENT WEB ET MISE EN PLACE</h1>
    <!-- </div> -->
  <!-- </div> -->
</div>
<div class="row">
  <div class=" c container-fluid">

    <div class="row mt-5">
      <div class="col-12 col-sm-12 col-md-6 sidebar">
        <div class="mini-submenu">
          <span class="fa fa-bars"></span>
          <span class="fa fa-bars"></span>
          <span class="fa fa-bars"></span>
        </div>
        <div class="list-group">
  
          <span href="#" class="list-group-item ">
            Introduction au developpement web et mise en place
            <span class="pull-right" id="slide-submenu">
              <i class="fa fa-times"></i>
            </span>
          </span>
          <a routerLink="/lesson" class=" lesson list-group-item active">
            <i class="fa fa-play-circle"></i> Introduction formation grow academy
            <span style=" font-size: 15px; float: right;">3 min</span></a>
            <a routerLink="/lesson" class=" lesson list-group-item active">
              <i class="fa fa-play-circle"></i> Introduction creéation site vitrine
              <span style="font-size: 15px; float: right;">2 min</span></a>
              <a routerLink="/lesson" class="lesson list-group-item active">
                <i class="fa fa-play-circle"></i> Introduction au developpement web et mise en place
                <span style="font-size: 15px; float: right;">2 min</span></a>
  
          <!-- <a href="#" class="list-group-item active" >
                                      <i class="fa fa-play-circle"></i>   Titre 2 
                                     <span style="float: right;">4</span></a>
                                     <a href="#" class="list-group-item active" >
                                      <i class="fa fa-play-circle"></i>   Titre 3 
                                     <span style="float: right;">3</span></a> -->
          <a routerLink="/quizz" class="tester my-2 btn-sba m-5">Testez vos connaissances</a> 
        </div>
      </div>
  
      <div class="video col-12 col-sm-12 col-md-6">
        <div class="row">
          <iframe src="https://player.vimeo.com/video/420257803" width="640" height="564" frameborder="0"
          allow="autoplay; fullscreen" allowfullscreen></iframe> 

        <div class="cle">
          <h1>Points clés</h1>
          <p class="text" >Alors comment réussir sa formation en développement web ?
            Déjà j'aimerais vous dire que se former en ligne au développement Web c'est possible.
            Il suffit de vous fixer impérativement des objectifs.
            Le but premier de cette section est de vous apprendre progressivement à coder en HTML5 et en CSS3 mais
            principalement pour ce chapitre, je vais également m’appliquer à vous montrer la logique et les mécanismes
            derrière ces deux langages afin que vous compreniez ce que vous faîtes et que vous deveniez vite autonomes.
    
          </p>
        </div>
        </div>

        </div>
   
       
    </div>
  
  </div>
</div>

<hr />
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>A propos de cette Leçon</h2>
      <h5>Intrdouction</h5>
      <p class="a_propos_desc">Alors comment réussir sa formation en développement web ?
        Déjà j'aimerais vous dire que se former en ligne au développement Web c'est possible.
        Il suffit de vous fixer impérativement des objectifs.
        Le but premier de cette section est de vous apprendre progressivement à coder en HTML5 et en CSS3 mais
        principalement pour ce chapitre, je vais également m’appliquer à vous montrer la logique et les mécanismes
        derrière ces deux langages afin que vous compreniez ce que vous faîtes et que vous deveniez vite autonomes.

      </p>

    </div>
    <div class="col-md-3" style="border-left: 1px solid gray;">
      <span class="detail_cours_titre"> Details du cours</span>
      <span class="detail_cours_contenu"> <i class="fa fa-bars details" aria-hidden="true"></i> Pré-requis</span>
      <span class="detail_cours_contenu"><i class="fa fa-clock-o details" aria-hidden="true"></i> 2h</span>
      <span class="detail_cours_contenu"><i class="fa fa-home details" aria-hidden="true"></i> Gratuit</span>

    </div>
    <div class="col-md-3" style="border-left: 1px solid gray;">
      <a class="btn btn-sba mt-5" href="">J'ai termine le cours</a>
    </div>
  </div>

</div>