
<div class="container">
    <div class="imagegrow row">
        <div class="col-md-4"></div>
        <div class=" col-md-2">
            <img class="img" src=" assets/logogrow.png" alt="">
        </div>
        <div class="col-md-5"></div>


    </div>
    <div class="row">
        <h1 class="bienvenue">Bienvenue sur la plateforme d'apprentissage de la grow academy</h1> 

    </div>
    <!-- <div class="row">
        <h1 class="h1">Choisissez une langue</h1>

    </div> -->
    <div class=" block0  flag row">
        <div class="col-md-4"></div>

        <div class="carte col-md-2 mt-4 ">
                <a [routerLink]="['/home']">  <img class="image"src="assets/fr.png" width="150" height="100" alt=""> </a> 
                <a [routerLink]="['/home']"><h2>Français</h2></a>  
            </div>
        <div class="carte col-md-2 mt-4">
            <a [routerLink]="['/home']">  <img class="image" src="assets/sn.png" width="150" height="100" alt=""> </a> 
          <a [routerLink]="['/home']"><h2>Wolof</h2></a>  
        </div>
        <div class="col-md-2"></div>

    </div>

    <!-- <div class=" block1  flag row">
        <div class="col-md-4"></div>

        <div class="carte col-md-2 mt-4 ">
                <a [routerLink]="['/home']">  <img class="image"src="assets/fr.png" width="150" height="100" alt=""> </a> 
                <a [routerLink]="['/home']">  <img class="image" src="assets/sn.png" width="150" height="100" alt=""> </a> 

                <a [routerLink]="['/home']"><h2 class="fr" >Français</h2> </a>  
                <a [routerLink]="['/home']"><h2 class="sn" >Wolof</h2></a>  


        </div>
    

    </div> -->
    <div class="row mt-2 bl">
        <div class="col-6 col-md-6 ble">
            <div class="card" style="padding-top: 40px;border-radius: 15px;">
                <a [routerLink]="['/home']">   <img class="image"src="assets/fr.png" width="150" height="100" alt=""> </a> 
                <div class="card-body">
                    <a [routerLink]="['/home']">   <h3 class="card-title" style="text-align: center;font-size: 25px;">Francais</h3> </a> 
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 ble2">
         <div class="card" style="padding-top: 40px;border-radius: 15px;">
            <a [routerLink]="['/home']"> <img class="image"src="assets/sn.png" width="150" height="100" alt=""> </a> 
            <div class="card-body">
                <a [routerLink]="['/home']">    <h3 class="card-title" style="text-align: center;font-size: 25px;">Wolof</h3> </a> 
            </div>
            </div>
        </div>
    </div>



</div>